body {
 background-image:url(../images/Hangmanframe.png);
 background-color: grey;
 text-align: center;
}
p {
	font-size: 30px;
	margin-top: 20px;
}

/*
Please add the README file, others too!
Please deploy your Awesome game to Heroku
*/